<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card card-body">

      <form (submit)="edit ? updateBlog() : submitBlog()">

        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="blog.title" class="form-control" placeholder="Title" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="description" [(ngModel)]="blog.description" class="form-control" placeholder="Description">
        </div>
        <div class="form-group">
          <input type="text" name="imageURL" [(ngModel)]="blog.imageURL" class="form-control" placeholder="Image URL">
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
